<h1 class="blockquote text-muted" align="center">Edit Chatroom <strong class="mark"><%= @chatroom.name%></strong></h1>

<%= render 'form', chatroom: @chatroom %>

<%= link_to 'Show', @chatroom %> |
<%= link_to 'Back', chatrooms_path %>
